* text=auto !eol
/ChangeLog -text
/LICENSE -text
/Makefile.in -text
/README.FloodServ -text
/README.FloodServ.html -text
/README.FloodServ.xml -text
/RELNOTES -text
/configure -text
/configure.in -text
/floodserv.c -text
/floodserv.h -text
/floodserv.vcproj -text
/floodservhelp.c -text
/install-sh -text
/modconfig.h.in -text
/modconfigwin32.h -text
/pulse.xml -text
